---

import Header from '../components/Header.jsx';
import Footer from '../components/Footer.jsx';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Astro Site</title>
  <!-- Add other head elements here -->
</head>
<body>
  <div class="layout-container">
    <Header client:idle/>

    <slot />
	<Footer client:idle/>
  </div>
</body>
</html>
