---
import { fetchPosts } from '../../utils/fetchPosts.jsx'; 
import '../../styles/global.css'; 
import PostDetails from "../../components/PostDetails.jsx";
import LanguageSelector from "../../components/LanguageSelector.jsx";

export const getStaticPaths = async () => {
  const posts = await fetchPosts();
  
  return posts.map((post) => ({
    params: { id: post.id.toString() },
    props: { post },
  }));
};

var { post } = Astro.props;
const { id } = Astro.params;
const posts = await fetchPosts();
post = posts.find((p) => p.id.toString() === id);

if (!post) {
  throw new Error(`Post with ID "${id}" not found`);
}
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{post.titulo}</title>
  </head>
  <body class="bg-gray-900 text-white">
    <PostDetails post={post} client:visible />
  </body>
</html>
